@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

p {
	color: #828282;
	margin: 40px 0px;
}

.skip-color {
	color: #FB924A
}

.order-btn,
.contact-btn {
	text-decoration: none;
	color: #fff;
	background: linear-gradient(88.33deg, #FBA24F -7.64%, #FF1E1E 145.94%);
	box-shadow: 0px 2px 30px #fc8f4980;
	border-radius: 100px;
	padding: 7px 23px;
	font-size: 20px;
}

.order-btn:hover,
.contact-btn:hover {
	background: linear-gradient(88.33deg, #FF1E1E -7.64%, #FBA24F 145.94%);
}

.order-food-section,
.about-me-section,
.recipies-section,
.viwer-section {
	margin-bottom: 50px;
}

/*.order-food-section */
.order-food-section {
	width: 90%;
	min-height: 600px;
	margin: auto;
	padding: 80px 0px;
}


.half-width {
	width: 45%;
	min-height: 550px;
	float: left;
}

.half-width>img {
	width: 100%
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.center>div>h1 {
	font-size: 59px;
}

/*about-me-section*/
.about-me-section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background: url("../images/background/7.png");
	background-repeat: no-repeat;
	background-size: contain;
	min-height: 600px;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
}

.box-2 {
	width: 70%;
	margin-top: 50px;
}

/*recipies-section*/
.recipies-section {
	width: 90%;
	margin: auto;
	min-height: 700px;
	text-align: center;
	margin-bottom: 50px;
}

.recipies-boxes {
	display: flex;
	justify-content: space-between;
}

.recipies-box {
	width: 43%;
	text-align: left;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
	border-radius: 16px;
	padding: 30px;
}

.recipies-box img {
	width: 100%;
	border-radius: 30px;
	display: inline-block;
}

.recipies-box h2{
	margin: 0px 0px 18px 0px;
}

.recipies-box p{
	margin: 0;
}

/*viwer-section*/
.viwer-section{
	width: 90%;
	margin: auto;
	min-height: 150px;
	box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 50px;
	text-align: center;
}

.footer-section {
	background-color: #0B0D17;
	text-align: center;
	min-height: 100px;
}

.footer-section h2 {
	color: #828282;
}

.footer-section p{
	margin: 0;
}